h1 {
  font-family: Helvetica, Sans-Serif;
  margin-left: 170px;
}

span {
  font-size: 15px;
  color: #5d5d5d;
}
.photo {
  margin-bottom: 16px;
  margin-left: 16px;
}

.grayscale {
  filter: grayscale(100%);
}

.custom-btn {
  background-color: #35257b;
  color: #ffffff;
  border: none;
  font-family: Helvetica, Sans-Serif;
}

.custom-btn:hover {
  background-color: #463a7a;
  color: #ffffff;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #35257b;
}

.bd-placeholder-img {
  width: 367px;
  height: 250px;
  background-color: #c8c8c9;
}
.controls {
  max-width: 735px;
  margin-left: 200px;
}

.photos-container {
  margin-left: 185px;
  max-width: 750px;
  display: inline-block;
}

.custom-btn-more-photos {
  max-width: 750px;
  margin-left: 190px;
  margin-bottom: 20px;
  background-color: #35257b;
  color: #ffffff;
  border: none;
  font-family: Helvetica, Sans-Serif;
}

.image-textbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
